<div class="container-fluid vh-100 p-0">
  <div class="container bg-image-acesso w-50 float-left m-0 container-image">

  </div>
  <div class="container w-50 float-right m-0 container-login">
    <div class="d-flex justify-content-center h-100">
      <div class="card bg-dark-transparent card-autenticacao">
        <div class="card-header text-white">
          <h4>ACESSO</h4>
        </div>
        <div class="card-body">
          <form >

            <div class="input-group form-group">
              <div class="input-group-prepend text-white input-group-prepend-autenticacao">
                <span><i class="fas fa-at"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="E-mail">
            </div>


            <div class="input-group form-group">
              <div class="input-group-prepend text-white input-group-prepend-autenticacao">
                <span><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control input-autenticacao" placeholder="Senha">
            </div>

            <!-- <div class="row align-items-center remember">
                  <input type="checkbox">Remember Me
                </div> -->

            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-success w-25 text-white">
            </div>

          </form>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-center text-white">
            <a href="#">Esqueceu a senha?</a>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
