<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h5 class="card-title">Usuário</h5>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Ação</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Situação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarioService.usuarios">
                            <td>
                                <a (click)="setUsuario(usuario)">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a (click)="deleteEmployee(usuario._id)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                            <td>{{usuario._id}}</td>
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.login}}</td>
                            <td>{{usuario.ativo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>