<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <td>Name</td>
      <td>phone</td>
      <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>yesleymiranda@yesleymiranda-ThinkCentre-Edge72 ~/workspace/yesley-projects </td>
      <td>323232</td>
      <td>323232</td>
    </tr>
    <tr>
      <td>yesleymiranda@yesleymiranda-ThinkCentre-Edge72 ~/workspace/yesley-projects </td>
      <td>323232</td>
      <td>323232</td>
    </tr>
    <tr>
      <td>yesleymiranda@yesleymiranda-ThinkCentre-Edge72 ~/workspace/yesley-projects </td>
      <td>323232</td>
      <td>323232</td>
    </tr>
    </tbody>
  </table>
</div>
